<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EODDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EODDataService.Properties.Settings>
            <setting name="EODDataService_EODDataSvc_Data" serializeAs="String">
                <value>http://ws.eoddata.com/data.asmx</value>
            </setting>
        </EODDataService.Properties.Settings>
    </applicationSettings>
</configuration>